NODE_ENV=development
NEXT_PUBLIC_DIFY_BASE_URL=https://api.dify.ai/v1
API_SECRET_KEY_DIFY=app-xxxxxxxxxxxxxxxxxxxxxxxxxx

# Supabase keys
NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx